body {
    font-family: Verdana;
    font-size: 15px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 300px;
}

.no-reports {
    display: none;
}

.title {
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}

.rate {
	color: red;
}

.backgrid-paginator {
  text-align: center;
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.backgrid-paginator ul {
  display: inline-block;
  *display: inline;
  margin: 5px 0;
  *zoom: 1;
}

.backgrid-paginator ul > li {
  display: inline;
}

.backgrid-paginator ul > li > a,
.backgrid-paginator ul > li > span {
  float: left;
  width: 30px;
  height: 30px;
  padding: 0;
  line-height: 30px;
  text-decoration: none;
}

.backgrid-paginator ul > li > a:hover,
.backgrid-paginator ul > .active > a,
.backgrid-paginator ul > .active > span {
  background-color: #f5f5f5;
}

.backgrid-paginator ul > .active > a,
.backgrid-paginator ul > .active > span {
  color: #999999;
  cursor: default;
}

.backgrid-paginator ul > .disabled > span,
.backgrid-paginator ul > .disabled > a,
.backgrid-paginator ul > .disabled > a:hover {
  color: #999999;
  cursor: default;
}

.plain img{
    max-height: 300px; max-width: 200px; 
	width: expression(this.width > 200 && this.width > this.height ? 200 : auto); 
	height: expression(this.height > 300px ? 300px : auto); 
}

.common-movies {
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}

.dl-horizontal {
	border-bottom: solid 1px #eee;
}

#recommend-head {
	padding-left: 10px;
	align: right;
	color: grey;
	font-size: 24px;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption-star {
    position:absolute;
    bottom: 0; 
    left: 0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:20%;
    display: none;
    text-align:center;
    vertical-align: middle;
    color:#fff !important;
    z-index:2;
}