<p><a href="http://movie.douban.com/subject/<%=dbID %>"><img src="resources/pics/Amy_Jones.jpg" width="160" height="160" class="thumbnail"/></a></p>
<h3><a href="http://movie.douban.com/subject/<%=dbID %>"><%= title %></a></h3>
<br>
<table class="table table-striped">
    <tr>
        <td>评分:</td>
        <td style="color:red;"><%= rating %></td>
    </tr>
    <tr>
    	<td>类型:</td>
        <td><%= genres %></td>
    </tr>
</table>

<div class="alert alert-warning">
  <h4 class="alert-heading">Warning</h4>
  The info...
</div>
