<dl class="dl-horizontal">
    <dt>
	    <p>用户<span style="color: blue;"><%=userName%></span></p>
	    <p>与您的相似度<span style="color: red;"><%=userSimilarity%></span></p>
	    <p>共同看过的电影: </p>
	    <div class="common-movies">
	    <% _.each( commons, function( item, index ){ 
			if(index == 3) {
		%>
			<span>...</span>
		<% } else if(index <= 2) { %>
		<span>
		    <a href='#movie/<%= item.id %>'><img width="50px" height="70px" src="<%=item.picUrl%>" title="<%=item.title%>" /></a>
		</span>
		<% } }); %>
		</div>
    </dt>
    
    <dd>
    	<div class="recommend-movies">
    	<% if(recommendItems.length == 0) { %>
    		<p style="line-height: 239px; align: center; vertical-align: middle;">No data.</p>
    	<% } %>
		<% _.each( recommendItems, function( item, index ){
			if(index <= 3) { 
		%>
			<div class="col-sm-4 col-md-2">
			<div class="thumbnail plain test2">
				<a href='#movie/<%= item.id %>'>
				    <img src="<%= item.picUrl %>" title="<%=item.title%>"/>
				</a>
				<div class="caption-btm" data="<%= item.id %>" data-score=""></div>
				<div class="caption text-center">
					<p class="title"><sup><span class="rate"><%= item.rating %></span></sup> <%= item.title %> </p>
				</div>
			</div>
			</div>
		<% } else if(index == 4 && recommendItems.length != 5) { %>
			<div class="col-sm-4 col-md-2">
			<div class="thumbnail plain test2">
				<a href='#movie/<%= item.id %>'>
				    <img src="<%= item.picUrl %>"/>
				</a>
				<div class="caption-btm" data="<%= item.id %>" data-score=""></div>
				<div class="caption text-center">
					<p class="title"><sup><span class="rate"><%= item.rating %></span></sup> <%= item.title %> </p>
				</div>
			</div>
			</div>
			<p style="line-height: 239px; vertical-align: middle;"><button class="btn" data="<%=userName%>">More...</button></p>
		<% } else { %>
			<div class="col-sm-4 col-md-2">
			<div class="thumbnail plain test2 display-<%=userName%>" style="display: none;">
				<a href='#movie/<%= item.id %>'>
				    <img src="<%= item.picUrl %>"/>
				</a>
				<div class="caption-btm" data="<%= item.id %>" data-score=""></div>
				<div class="caption text-center">
					<p class="title"><sup><span class="rate"><%= item.rating %></span></sup> <%= item.title %> </p>
				</div>
			</div>
			</div>
		<% } }); %>
		</div>
	</dd>
</dl>


